p{
    white-space:pre-line
}

footer {
    display: flex;
    justify-content: center;
    color: black;
    padding: 5px;
}

.button_pos {
    display: flex;
    justify-content: center;
}

button#movieSubmit {
    margin-right: 5px;
}

button#reset {
    margin-left: 5px;
}
